<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>

<div>
    <p>Xin chào <b>$data.userName</b></p>
    <p>Hệ thống đấu giá trực tuyến mời bạn đăng ký tham gia đấu giá tài sản</p>
    <div>
        Taì sản: <b>$data.productName</b>
    </div>
    <p>
        Tài sản bạn quan tâm còn <b>$data.dayToStart</b> ngày sẽ bắt đầu thời gian đăng ký đấu giá.
    </p>
    </br>
    <p>Thời gian bắt đầu đăng ký: $data.fromDate - $data.toDate </p>
    <p>Thời gian nộp tiền đặt trước: $data.preCostFromDate - $data.preCostToDate </p>
    <p>Mọi thông tin liên hệ vui lòng truy cập trang web: </p>
    <p>$data.url</p>
</div>
</body>

</html>